@import "tailwindcss";

@layer base {
  body {
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}

@media print {
  body {
    background-color: white !important;
    color: black !important;
  }
  header, footer, button, nav, .print\:hidden {
    display: none !important;
  }
  .print\:block {
    display: block !important;
  }
  .print\:col-span-12 {
    grid-column: span 12 / span 12 !important;
  }
}
